<div>
    <a href="{% url product_item product.id %}">{{ product }}</a>

    {% for image in product.images.all %}
        <img src="/{{ image.src }}" alt="{{ product.name }}" width="100"/>
    {% endfor %}
    <span>Мин. {{ product.min_cost }}</span>
    <span>Макc. {{ product.max_cost }}</span>
</div>
