<div>
    <a href="{% url "product.views.product" product.id %}">{{ product }}</a>

    {% for image in product.image_set.all %}
        <img src="/{{ image.src }}" alt="{{ product.name }}" width="100"/>
    {% endfor %}

    {% if product.min_cost == product.max_cost %}
        <span>{{ product.min_cost }}</span>
    {% else %}
        <span>Мин. {{ product.min_cost }}</span>
        <span>Макc. {{ product.max_cost }}</span>
    {% endif %}
</div>
